* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background-color: rgb(139 81 252)
}


.logo-gif {
    width: 300px;
    height: 300px;
    margin: 20px auto;
    display: block;
}

main {
    background: rgba(244, 244, 244, 1);
    width: 375px;
    border-radius: 20px;
    margin: 0px auto;
    padding: 44px 24px 23px;
    margin-bottom: 40px
}

label {
    color: rgba(119, 119, 119, 1);
    font-size: 14px;
    font-weight: 400;
}

select,
input {
    border: 1px solid rgba(187, 187, 187, 1);
    width: 100%;
    height: 48px;
    background: #ffffff;
    border-radius: 4px;
    margin-bottom: 24px;
    padding-left: 18px;
    font-weight: 700;
    font-size: 14px;
    color: #555555;
}

button {
    background: rgba(119, 47, 211, 1);
    width: 100%;
    height: 48px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.4;
}

section {
    border: 1px solid #772fd3;
    border-radius: 7px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.seta {
    margin: 15px;
}

.moeda-bra {
    font-weight: 400;
    font-size: 15px;
    color: rgba(85, 85, 85, 1);
}

.moeda-value .moeda-value1 {
    font-weight: 700;
    font-size: 20px;
    color: rgba(85, 85, 85, 1);

}